<mat-sidenav-container>
    <mat-sidenav class="conteudo-esquerda "mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>    
            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon></mat-icon>
                <a mat-list-item routerLink="components/carro/cadastrar">Cadastrar Carro</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon></mat-icon>
                <a mat-list-item routerLink="components/carro/listar">Carros Cadastrados</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>